<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <title th:inline="text">Update item [[${item.id}]]</title>
    </head>
    <body>
        <div class="container">
        <h1 th:inline="text">Изменение продукта (Id: [[${item.id}]])</h1>
        <div id="data-container">
            <form id="creationForm">
                <input name="name" type="text" placeholder="название" th:value="${item.name}" /><br />
                <input name="calories" type="number" placeholder="калорийность" th:value="${item.calories}" /><br />
                <input name="carbs" type="number" placeholder="углеводы" th:value="${item.carbs}" /><br />
                <input name="protein" type="number" placeholder="белки" th:value="${item.protein}" /><br />
                <input name="fats" type="number" placeholder="жиры" th:value="${item.fats}" /><br />
                <input type="submit" /><br />
            </form>
        </div>
    </div>

    <script th:inline="text">
        $(document).ready(function() {
            let isLoading = false;
            const creationForm = $('#creationForm');

            creationForm.submit(function(e) {
                e.preventDefault();

                let data = creationForm.serializeArray().reduce(function(obj, item) {
                    if (item.name == "name") {
                        obj[item.name] = item.value;
                    } else {
                        obj[item.name] = Number(item.value)
                    }
                    return obj;
                }, {});
                data["id"] = [[${item.id}]];
                console.log(data);
                $.ajax({
                    url: '/item/update',
                    contentType: "application/json",
                    type: 'put',
                    data: JSON.stringify(data),
                    success: function(response) {
                        alert('Данные обновлены!');
                    },
                    error: function(xhr, status, error) {
                        console.error('Ошибка загрузки:', error);
                        alert('Произошла ошибка');
                    }
                });
            })
        });
    </script>
    </body>
</html>